# Игнорировать файлы Python bytecode
__pycache__/

# Игнорировать файлы логов и временные файлы
*.log
*.log.*
*.swp

# Игнорировать виртуальное окружение (если оно создается)
venv/

# Игнорировать файлы конфигурации IDE PyCharm
.idea/
*.iml